# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Uploads utilisateurs
static/uploads/

# Base de données locale
*.db

# Node.js
node_modules/

# Environnement virtuel Python
venv/
